extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let foodid = toShow._id 
    - let foodtype = toShow.foodtype
    - let foodquality = toShow.foodquality
    - let foodcost = toShow.foodcost 
    - let actionid = "/resource/food/" + foodid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='foodAttr mr-3') Food ID is: 
        div #{foodid} 
      div.row 
        div(class='foodAttr mr-3') Food  type is: 
        div #{foodtype} 
      div.row 
        div(class='foodAttr mr-3') Food  Quality is: 
        div #{foodquality} 
      div.row 
        div(class='foodAttr mr-3') Food  Cost is: 
        div #{foodcost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/food' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first // Don't need a body for the delete 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        console.log("Delete failed " + error ) 
        window.location.href='/food' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      });
    }